nav{
     display:flex;
    background-color: rgb(243, 18, 18)
}


.hu a{
    text-decoration: none;
    color: black;
    padding-left: 30px;                           

}
.hu-drop-down {
    display: none;
    text-decoration: none;
    
}
.hu:hover .hu-drop-down{
    display: flex;
    position: absolute;   
    padding : 30px 0px 0px 0px;
    left: 100px; 
}

.za{
    padding : 0px 80px 0px 0px; 

}

.iu a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-left: 45px;
                                   
}
.iu-drop-down {
    display: none;
}
.iu:hover .iu-drop-down{
    display: flex;
    position: absolute;
    padding-top: 30x; 
    left: 100px;    
}
.ya{
    padding: 0px 100px 0px 0px;
}
.ju a{
    display: flex;
    text-decoration: none;
    color: black;
    padding-left: 60px;                               
}
.ju-drop-down {
    display: none;
}
.ju:hover .ju-drop-down{
    display: flex;
    position: absolute;
    padding: 30px 0px 0px 0px; 
    left: 100px;   
}
.xa{
    padding: 0px 100px 0px 0px;
}
.ku a{
    display: flex;
    text-decoration: none;
    color: black;                                 
}

.ku-drop-down {
    display: none;                                  
}
.ku:hover .ku-drop-down{
    display: flex;
    position: absolute;
    padding-top: 30px; 
    left: 100px;                              
}

.lu a{
    padding: 1px 5px;
    text-decoration: none;
    margin-left: 520px;
    color: black;
    border-radius: 15px;
    border: solid 1px; 
    text-align: center;

                                
}
.lu-drop-down{
    display: none;

}
.lu:hover .lu-drop-down{
    display: flex;                                 

}
